﻿
@model RestfullService.Models.DavetiyeModel

@{
    ViewBag.Title = "DavetiyeFormu";
}

<form action="~/Home/DavetiyeFormu" method="post">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4>Sen de Davetlisin!</h4>
            <div class="panel-body">
                <div class="form-group">
                    <label>Ad : </label>
                    <input type="text" name="Ad" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Soyad : </label>
                    <input type="text" name="Soyad" class="form-control" />
                </div>
                <div class="form-group">
                    <label>E-Posta : </label>
                    <input type="email" name="Eposta" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Katılma Durumu : </label>
                    <select class="form-control" name="KatilmaDurumu">

                        <option value="true">Evet,geliyorum.</option>
                        <option value="false">Hayır,gelmiyorum.</option>
                    </select>
                </div>

                <div>
                    <input class="btn btn-success" type="submit" value="Gönder" />
                </div>
            </div>

        </div>

    </div>
    </form>
