﻿
@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h2>Turkcell üst düzey yöneticilerinin yer aldığı harika bir seminer olacak.</h2>
    <h3>Sen de bu etkinlikte yer almak ister misin?</h3>
    <a href="/Home/DavetiyeFormu"><input type="button" class="btn btn-success" value="Katıl"/></a>
</div>

