﻿@model RestfullService.Models.DavetiyeModel
@{
    ViewBag.Title = "Tesekkurler";
}

<h2>Tesekkurler,@(Model.Ad+" "+Model.Soyad)</h2>

<div class="lead">
    @if (Model.KatilmaDurumu == true)
    {
        <h3>Gelmene çok sevindim,etkinlikte görüşmek üzere!</h3>
        @Html.Action("Katilanlar", "Home")
    }
    else
    {
        <h3>Gelmeycek olmana üzüldüm,kararını değiştirirsen kayıt olmayı unutma!</h3>
    }
</div>